<h2>User's favourite places</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>type</th>
        <th>Rating</th>
        <th>Likes</th>
    </tr>
    </thead>
    <tbody>
    {{#places}}
        <tr>
            <td>
                <a type="button" href="/api/places/like?placeId={{_id}}"
                   class="btn btn-success like-button">
                    <i class="fa fa-heart-o"></i>Like
                </a>
                <a type="button" href="/api/places/unlike?placeId={{_id}}"
                   class="btn btn-success like-button active">
                    <i class="fa fa-heart"></i>Liked
                </a>
            </td>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>{{rating}}</td>
            <td>{{userLikedCount}}</td>
        </tr>
    {{/places}}
    </tbody>
</table>