<h2>User's favourite places</h2>
<table>
    <thead>
    <th>
        name
    </th>
    <th>
        location
    </th>
    <th>
        type
    </th>
    <th>
        description
    </th>
    <th>
        workTimeInterval
    </th>
    <th>
        rating
    </th>
    <th>
        userLikedCount
    </th>
    <th>
        placesCount
    </th>
    </thead>
    <tbody>
    {{#places}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{location}}
            </td>
            <td>
                {{type}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                {{workTimeInterval.start}}-{{workTimeInterval.end}}
            </td>
            <td>
                {{rating}}
            </td>
            <td>
                {{userLikedCount}}
            </td>
            <td>
                {{placesCount}}
            </td>
        </tr>
    {{/places}}
    </tbody>
</table>