<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#info" data-toggle="tab">Info</a></li>
    <li role="presentation"><a href="#links" data-toggle="tab">Links</a></li>
</ul>

<div class="tab-content" style="min-height: 100px;">
    <div id="info" class="tab-pane fade in active">
        <h3>{{place.name}}
            <a type="button" href="/api/places/like?placeId={{place._id}}"
               class="btn btn-success like-button {{#unless place.isLikedByUser}}active{{/unless}}">
                <i class="fa fa-heart-o"></i>Like
            </a>
            <a type="button" href="/api/places/unlike?placeId={{place._id}}"
               class="btn btn-success like-button {{#if place.isLikedByUser}}active{{/if}}">
                <i class="fa fa-heart"></i>Liked
            </a>
        </h3>
        {{#if place.description}}
            <p>{{place.description}}</p>
        {{/if}}
        <span>Type: {{place.type}}</span> <br/>
        {{#if place.workTimeInterval.start}}
            <span>Working time: {{place.workTimeInterval.start}} - {{place.workTimeInterval.end}}</span><br/>
        {{/if}}
        {{#if place.rating}}
            <span>Rating:{{place.rating}}</span> <br/>
        {{/if}}
        {{#if place.seatsCapacity}}
            <span>Seats: {{place.seatsCapacity}}</span> <br/>
        {{/if}}
        <span>Likes: {{place.userLikedCount}}</span>
    </div>

    <div id="links" class="tab-pane fade in">
        <a href="/places/byType?type={{place.type}}" target="_blank">View all places of this type</a><br/>
        <a href="/places/nearestNeighbours?placeId={{place._id}}" target="_blank">View all the 5 nearby places</a><br/>
        <a href="/places/showSimiliar?placeId={{place._id}}" target="_blank">Show similiar places</a><br/>
    </div>
</div>